body {
  font-family: 'EB Garamond', serif;
  background-color: black;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.app-box {
  display: flex;
  width: 280px;
  height: 250px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: space-evenly;
  align-self: center;
  justify-self: center;
}

.app-img {
  max-width: 100px;
  max-height: 100px;
}

.app {
  position: relative;
}

.app:hover {
  cursor: pointer;
}

.start {
  font-family: 'EB Garamond', serif;
  font-size: 36px;
  border: 3px solid white;
  padding: 3px 15px 5px 15px;
  background-color: black;
  color: white;
}

.start a {
  color: white;
}

.score {
  display: none;
  vertical-align: top;
  margin: 0;
}

.bottom-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70px;
}

.start:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.circle {
  background: #fd0404;
  border-radius: 50%;
  z-index: 2;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 4%;
  right: -33%;
  -webkit-transform: translate(-50%, -50%);
  /* iOS */
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 24px;
  color: white;
}

.sounds {
  display: none;
}

.title {
  display: initial;
  font-weight: 400;
  margin: 0;
}


.blocked {
  pointer-events: none;
}

.activated {
  animation: zoom-in 0.3s ease;
}

.hidden {
  display: none;
}

.intro {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  font-size: 24px;
  padding: 0px 20px;
  text-align: center;
}

.intro a {
  color: black;
}

.intro-text {
  max-width: 450px;
}

.fullapple {
  max-height: 150px;
  cursor: pointer;
}

.halfapple {
  padding-right: 5px;
  max-height: 150px;
}

.fullzoom {
  animation: full-zoom 1s ease;
}

@keyframes full-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(30);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 700px) {

  h1 {
    font-size: 24px;
  }

  .start {
    font-size: 24px;
  }

  .app-box {
    width: 220px;
    height: 200px;
  }

  .app-img {
    max-width: 75px;
    max-height: 75px;
  }

  .circle {
    width: 30px;
    height: 30px;
    right: -35%;
    font-size: 20px;
    font-size: 16px;
  }

  .intro-text {
    max-width: 650px;
  }

  .intro {
    padding: 0 25px;
    font-size: 16px;
  }


}