@font-face {
  font-family: 'Apple-Garamond-Light';
  src: url(Fonts/AppleGaramond-Light.ttf);
}

body {
  font-family: Apple-Garamond-Light, serif;
}

h1 {
  font-size: 36px;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.app-box {
  display: flex;
  width: 400px;
  height: 350px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: space-evenly;
  align-self: center;
  justify-self: center;
}

.app-img {
  max-width: 150px;
  max-height: 150px;
}

.app {
  position: relative;
}

.app:hover {
  cursor: pointer;
}

.start {
  font-family: Apple-Garamond-Light;
  font-size: 36px;
  border: 3px solid black;
  padding: 5px 15px;
  background-color: white;
  height: 60px;
}

.score {
  height: 60px;
  display: none;
  vertical-align: top;
}

.bottom-text {
  display: flex;
  justify-content: center;
  flex-direction: center;
  height: 70px;
}

.start:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.circle {
  background: #fd0404;
  border-radius: 50%;
  z-index: 2;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 3%;
  right: -25%;
  -webkit-transform: translate(-50%, -50%); /* iOS */
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 24px;
  color: white;
}

.sounds {
  display: none;
}

.command {
  display: none;
}

.title {
  display: initial;
}

.blocked {
  pointer-events: none;
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

